{#{% extends 'admin/layout.html' %}#}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>404 HTML Template by Colorlib</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link href="{{ static_url + 'admin/assets/css/404.css' }}" rel="stylesheet" type="text/css"/>

</head>

<body>
<div id="notfound">
    <div class="notfound">
        <img src="https://m.media-amazon.com/images/G/01/zappos/melody/zapposPBS._CB1509642213_.svg" height="110">
        <div class="notfound-404">
            <h1>4<span>0</span>4</h1>
        </div>
        <h2>the page you requested could not found</h2>
        <h3><a class="zlink" href="{{ url_for('homepage') }}"><span>Back to homepage</span></a></h3>
    </div>
</div>
</body>
</html>
