<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'admin/layouts/head.html' %}
    <!-- BEGIN head for this page -->
    {% block head %}{% endblock %}
    <!-- END head for this page -->
</head>
<body class="adminbody">
<div id="main">
    <!-- top bar navigation -->
    {% include 'admin/layouts/headerbar.html' %}
    <!-- End Navigation -->

    <!-- Left Sidebar -->
    {% include 'admin/layouts/leftbar.html' %}
    <!-- End Sidebar -->

    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <br>
            {% block content %}{% endblock %}
        </div>
        <!-- END content -->

    </div>
    <!-- END content-page -->
    {% include 'admin/layouts/leftbar.html' %}

</div>
<!-- END main -->
{% include 'admin/layouts/scripts.html' %}
<!-- BEGIN Java Script for this page -->
{% block scripts %}{% endblock %}
<!-- END Java Script for this page -->


</body>
</html>