
<link href='https://fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

<div class="content">
  <div class="add">
    APPLY TO ALL
  </div>
</div>

<div class="dialogue-controller"></div>

<div class="dialogue template">
  <div class="message"></div>
  <div class="close">✕</div>
  <div style="clear:both"></div>
</div>

