{% extends 'admin/layout.html' %}

{% block head %}
<link href="{{ static_url + 'admin/assets/plugins/datetimepicker/css/daterangepicker.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> Incidents Queue </h3>
                        These are all IRT incidents.
                        <span class="float-right"> <span v-html="waiting_status"></span></span>
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-responsive-xl table-striped text-justify">
                            <thead>
                            <tr class="d-flex ">
                                <th class="col-1">#</th>
                                <th class="col-1">Code</th>
                                <th class="col-1">Sev</th>
                                <th class="col-3">Subject</th>
                                <th class="col-2">Reporter</th>
                                <th class="col-1">Status</th>
                                <th class="col-3 text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for inci in incidents.items %}
                            <tr class="d-flex">
                                <th class="col-1">{{ inci.id }}</th>
                                <th class="col-1">
                                    <a {% if inci.is_on_jira() %} href="{{ jira_url + '/browse/' + inci.code }}"
                                       target="_blank" {% endif %}>{{ inci.code }}</a>
                                </th>
                                <th class="col-1 text-dark">{{ inci.severity }}</th>
                                <th class="col-3">{{ inci.subject }}</th>
                                <th class="col-2">{{ inci.reporter }}</th>
                                <th class="col-1">{[{ status["{{ inci.id }}"] }]}</th>
                                <th class="col-3"><center>
                                    <div class="btn-group">
                                        {#
                                        {% if inci.is_on_jira() %}
                                        <a class="btn btn-sm btn-outline-primary float-right mr-2"
                                           href="{{ jira_url + '/browse/' + inci.code }}" target="_blank">
                                        <i class="fab fa-jira"></i></a>
                                        {% else %}
                                        <a class="btn  btn-sm btn-outline-secondary float-right mr-2 disabled">
                                            <i class="fab fa-jira"></i>
                                        </a>
                                        {% endif %}
                                        #}
                                        <button class="btn btn-sm btn-outline-primary float-right mr-2" data-target="#viewModal{{ inci.id }}"
                                            data-toggle="modal" href="#custom-modal"><i class="fa fa-eye"></i>
                                        </button>
                                        <button class="btn  btn-sm btn-outline-primary float-right mr-2" data-target="#updateModal{{ inci.id }}"
                                            data-toggle="modal" href="#custom-modal"><i class="fa fa-broadcast-tower "></i>
                                        </button>
                                        <button class="btn btn-sm btn-outline-primary float-right mr-2"
                                            v-on:click="sweat('{{ inci.id }}');"><i class="fab fa-telegram-plane"></i>
                                        </button>
                                        <a class="btn  btn-sm btn-outline-primary float-right mr-2"
                                           href="{{ url_for('incidents_id', id=inci.id) }}"><i class="fa fa-pen"></i>
                                        </a>
                                    </div>
                                </center></th>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end card-->
        </div>
    </div>

    <div style="position: absolute; bottom: 0; right: 10px; float: right ">
        <nav aria-label="..." class="float-right">
            <ul class="pagination">
                <!-- previous page -->
                {% if incidents.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('incidents', page=incidents.prev_num) }}">Previous</a>
                </li>
                {% endif %}

                <!-- all page numbers -->
                {% for page_num in incidents.iter_pages() %}
                {% if page_num %}
                {% if page_num != incidents.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('incidents', page=page_num) }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link bg-primary text-white" href="#"><span class="white">{{ page_num }}</span></a>
                </li>
                {% endif %}
                {% else %}
                <li class="page-item">
                    <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
                </li>
                {% endif %}
                {% endfor %}

                <!-- next page -->
                {% if incidents.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('incidents', page=incidents.next_num) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

    {% for inci in incidents.items %}
    <!-- Update Modal -->
    <div aria-hidden="true" aria-labelledby="updateModal" class="modal fade custom-modal" id="updateModal{{ inci.id }}" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel2">Incident update</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{{ url_for('updates', inci_id=inci['id']) }}" method="POST" novalidate>
                    <div class="modal-body">
                        <div class="form-row">
                            <label for="update_desc"><strong>Update for</strong> {{ inci.subject }} ({{ inci.code }})</label>
                            <textarea class="form-control" id="update_desc" name="content"
                                placeholder="Insert an incident update here." type="text"></textarea>
                        </div>
                        <hr>
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <div class="form-check"><br>
                                    <label class="form-check-label">
                                        <input name="send_mail" class="form-check-input" type="checkbox"> Send email notification
                                    </label>
                                </div>
                                {% if inci.is_open() %}
                                    <div class="form-check">
                                        <input name="close_inci" class="form-check-input" type="checkbox" v-on:click="checked = !checked;" onchange="load_closure_time();"> Close the incident
                                    </div>
                                {% endif %}
                            </div>
                            {% if inci.is_open() %}
                                <div class="form-group col-md-6" v-if="checked">
                                    <label>Resolution date and time</label>
                                    <input type="text" class="form-control is-valid" name="closure_datetime"/>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-dismiss="modal" type="button">
                            Cancel
                        </button>
                        <a><button class="btn btn-success" type="submit"><i class="fab fa-telegram-plane"></i></button></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- View Modal -->
    <div aria-hidden="true" aria-labelledby="viewModal" class="modal fade custom-modal"
         id="viewModal{{ inci.id }}" role="dialog" tabindex="-1">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel3">{{ inci.code }} | Sev: {{ inci.severity }}  ({{ inci.status }})</h5>
                    <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-6"><strong>Subject</strong>:<br>{{ inci.subject }}</div>
                            <div class="col-6"><strong>Reporter</strong>:<br>{{ inci.reporter }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6"><strong>Starting date</strong>:<br>{{ inci.creation_datetime }}</div>
                            <div class="col-6"><strong>Closure date</strong>:<br>{{ inci.closure_datetime }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12"><strong>Systems</strong>:<br>
                                {{ inci.systems|map(attribute='name')|join(', ') }}
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-12"><strong>Description</strong>:<br>{{ inci.description }}</div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-6"><strong>Cause</strong>:<br>{{ inci.cause}}</div>
                            <div class="col-6"><strong>Teams working to resolve</strong>:<br>{{ inci.teams_working }}</div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-6"><strong>Affected unit(s)</strong>:<br>{{ inci.affected_customers_units }}</div>
                            <div class="col-6"><strong>Incident manager</strong>:<br>{{ inci.manager }}</div>
                        </div>
                        <br>
                        <hr>
                        <div class="row">
                            <div class="col-12">
                                <strong>Emails to notify</strong>:<br>
                                {{ inci.get_all_emails()|join(', ') }}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-12"><strong>Incident updates</strong>:<br>
                            {% for update in inci.get_all_updates()|sort(attribute="number") %}
                                <div class="alert alert-primary">
                                    <strong> Update #{{ update['number'] }} </strong><br>{{ update['content'] }}
                                </div>
                            {% endfor %}
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}

{% block scripts %}
<script src="{{ static_url + 'admin/assets/plugins/datetimepicker/js/daterangepicker.js' }}"></script>
<script src="{{ static_url + 'admin/assets/plugins/datetimepicker/js/moment.min.js' }}"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        Vue.options.delimiters = ['{[{', '}]}'];
        const waiter = "<span><i class=\"fa fa-clock\"></i> Waiting...</span>";

        var load_closure_time = function() {
            $('input[name="closure_datetime"]').daterangepicker({
                "singleDatePicker": true,
                "parentEl" : ".modal",
                "timePicker": true,
                "alwaysShowCalendars": true,
                "timePicker24Hour": true,
                "startDate": moment().startOf('minute'),
                "locale": {
                    "format": 'YYYY/MM/DD HH:mm'
                },
            }, function (start) {
                console.log('New date range selected: ' + start.format('YYYY/MM/DD HH:mm'));
            });
        };

        var app = new Vue({
            el: '#app',
            data() {
                return {
                    status: this.load_status(),
                    waiting_status: '',
                    checked: false
                }
            },
            methods: {
                is_waiting: function (is_waiting) {
                    this.waiting_status = (is_waiting ? waiter : '');
                },
                change_status: function (inci_id) {
                    this.is_waiting(true);
                    if (this.status[inci_id] == "Open") {
                        axios.post("{{ url_for('incidents') }}/" + inci_id, {"new_status": "Closed"}).then(data => {
                            swal({
                                title: "Good job!",
                                text: "INCI closed!",
                                icon: "success"
                            });
                            this.status[inci_id] = "Closed";
                            this.is_waiting(false);
                        });
                    } else {
                        axios.post("{{ url_for('incidents') }}/" + inci_id, {"new_status": "Open"}).then(data => {
                            swal({
                                title: "Good job!",
                                text: "INCI opened!",
                                icon: "success"
                            });
                            this.status[inci_id] = "Open";
                            this.is_waiting(false);
                        });
                    }
                },
                load_status: function () {
                    var new_status = {}
                    {% for inci in incidents.items %}
                        new_status["{{ inci.id }}"] = "{{ inci.status }}";
                    {% endfor %}
                    return new_status;
                },
                inciStatus(inci_id) {
                    console.log(this.status[inci_id])
                },
                sweat(inci_id) {
                    this.is_waiting(true);
                    console.log(inci_id);
                    axios.post("{{ url_for('incidents') }}/" + inci_id + '/current_state', {}).then(data => {
                        swal({
                            title: "Good job!",
                            text: "Incident status sent!",
                            icon: "success"
                        });
                        this.is_waiting(false);
                    }).catch(error => {
                        swal({
                            title: "Incident status couldn't be send!",
                            text: "Mailer couldn't be reached!",
                            icon: "error"
                        });
                        this.is_waiting(false);
                    });
                }
            }
        });
        app.load_status();

</script>
{% endblock %}