<html>
<head>
    <meta charset="UTF-8">
    <title>IRT INCIDENT</title>
    <style>

    .incident_desc {
      border: 1px solid gray;
      padding: 10px;
      margin: 2px;
      margin-bottom: 5px;
    }
    .link {
        font-size: 15px;
        text-align: left;
    }
    </style>

</head>
<body>
<center>
    {% for update in incident_updates|sort(attribute="number", reverse=True) %}
        <div class="incident_desc" style="background-color: {{ '#E0E9FE' if loop.index==1 else '#B4C6F2' }};">
            <p align="left">
                <strong> Update #{{ update['number'] }} </strong>
            </p>
            <p align="justify">
                {{ update['content'] }}
            </p>
        </div>
    {% endfor %}
</center>
<center>

    <div class="incident_desc" style="background-color:#FFFFFF">
        <p align="left">
            {% if 'description' in incident_data and incident_data['description']|length > 0 %}
                <strong>Description: <br>
                </strong> {{ incident_data['description'] }}<br><br>
            {%endif%}
            
            {% if 'reporter' in incident_data %}
                <strong>Incident discovered / Reported by : </strong> {{ incident_data['reporter'] }}<br><br>
            {%endif%}
            
            {% if 'affected_customers_units' in incident_data and incident_data['affected_customers_units']|length > 0 %}
                <strong>Affected customer(s)/business unit(s): </strong> {{ incident_data['affected_customers_units'] }}<br><br>
            {%endif%}
            {% if 'systems' in incident_data and incident_data['systems']|length > 0 %}
                <strong>Affected Systems/Sites:  </strong>
                {% for system in incident_data['systems'] %} 
                    {{ system }}
                {% endfor %}
                <br><br>
            {%endif%}
            {% if 'creation_datetime' in incident_data and incident_data['creation_datetime']!=None  %}
                <strong>Incident Started Time:  </strong> {{ incident_data['creation_datetime'].ctime() }}<br><br>
            {%endif%}
            {% if 'closure_datetime' in incident_data and incident_data['closure_datetime']!= None  %}
                <strong>Incident Resolved Time: </strong> {{ incident_data['closure_datetime'].ctime() }}<br><br>
            {%endif%}
            {% if 'cause' in incident_data and incident_data['cause']|length > 0 %}
                <strong>Cause: </strong> {{ incident_data['cause'] }}<br><br>
            {%endif%}
            {% if 'teams_working' in incident_data and incident_data['teams_working']|length > 0 %}
                <strong>Teams working to resolve: </strong> {{ incident_data['teams_working'] }}<br><br>
            {%endif%}

            {% if 'manager' in incident_data and incident_data['manager']|length > 0 %}
                <strong>Incident manager: </strong> {{ incident_data['manager'] }}<br><br>
            {%endif%}
            {% if 'severity' in incident_data %}
                <strong>
                    Severity: </strong> {{ incident_data['severity'] }}<br><br>
            {%endif%}
            {% if 'code' in incident_data %}
                <strong>
                    Incident ticket: </strong> <a class="links"href="{{ jira_url + '/browse/' + incident_data['code'] }}" target="_blank">{{ incident_data['code'] }}</a><br><br>
            {%endif%}
        </p>

    </div>
</center>
 <div style="background-color: white; text-align:left; float:left;">
    <img src="https://www.yournextshoes.com/wp-content/uploads/2018/06/Zappos.png" width="100" height="54">
</div>
</body>
</html>
