{% extends 'admin/layout.html' %}

{% block head %}
<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>404 HTML Template by Colorlib</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet">

	<!-- Custom stlylesheet -->
    <link href="{{ static_url + 'admin/assets/css/404.css' }}" rel="stylesheet" type="text/css"/>
{% endblock %}

{% block content %}
	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>4<span>0</span>4</h1>
			</div>
			<h2>the page you requested could not found</h2>
		</div>
	</div>
{% endblock %}

{% block scripts %}

{% endblock %}
