{% extends 'admin/layout.html' %}

{% block head %}
    <link href="{{ static_url + 'admin/assets/plugins/datetimepicker/css/daterangepicker.css' }}" rel="stylesheet">
    <link href="{{ static_url + 'admin/assets/plugins/select2/css/select2.min.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div id="app-irt"> {[{ message }]}
        <div class="col-lg-12">
            {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
            {% endif %}
            <div class="card mb-3">
                <div class="card-header">
                    <h3>
                        {% if not edit_flag %}
                            <i class="fab fa-jira"></i> New incident
                        {% else %}
                            <i class="fa fa-pen"></i> Editing
                            {% if incident_data['code'] != "INCI-XXXX" %}
                                <a href="{{ jira_url + '/browse/' + incident_data['code'] }}" target="_blank">{{ incident_data['code'] }}</a>
                            {% else %}
                                {{ incident_data['code'] }}
                            {% endif %}
                        {% endif %}
                        <div class="col-md-3 float-right">
                        <select name="template" class="form-control select2" id="selecttemplate" onchange="app.load_template(value);">
                            <option value="" selected disabled hidden>Load data from template</option>
                            {% for t in incident_templates %}
                                <option value="{{ t['id'] }}">
                                    {{ t["name"] }}
                                </option>
                            {% endfor %}
                        </select>
                        </div>
                    </h3>
                    {% if not edit_flag %}
                        Please fill the following form in to create a new incident.
                    {% else %}
                        Please fill the following form in to edit an incident.
                    {% endif %}
                </div>
                <div class="card-body">
                    {% if not edit_flag %}
                        <form action="{{ url_for('incidents') }}" method="POST" novalidate>
                    {% else %}
                        <form action="{{ url_for('incidents_id', id=incident_data['id']) }}" method="POST" novalidate>
                    {% endif %}
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Incident subject <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" value="{{ incident_data['subject'] or '' }} - [{{ incident_data['status'] or '' }}]"
                                   name="subject" placeholder="Enter the subject" autocomplete="off">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Severity <span style="color:red;">*</span></label>
                            <select name="severity" class="form-control">
                                <option>Select severity</option>
                                {% for severity in incidents_severities %}
                                    <option value="{{ severity }}"
                                        {% if severity|string== incident_data['severity']|string %}selected {% endif %}> SEV {{ severity }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Incident reporter</label>
                            <input type="text" class="form-control" name="reporter">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Affected systems <span style="color:red;">*</span></label>
                            <select placeholder="Select affected systems" onchange="app.load_dls()"
                                class="form-control select2" id="selectsys" name="systems[]" multiple="multiple">
                                {% for sys in systems %}
                                    <option value="{{ sys['id'] }}"
                                        {% if sys in incident_data['systems'] %}selected{% endif %}> {{ sys['name'] }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label>Description <span style="color:red;">*</span></label>
                            <textarea type="text" class="form-control" name="description"
                                placeholder="Enter the incident description">{{ incident_data['description'] or '' }}
                            </textarea>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Starting date and time <span style="color:red;">*</span></label>
                            <input type="text" class="form-control is-valid" name="creation_datetime"
                                value="{{ incident_data['creation_datetime'] or '' }}"/>
                        </div>
                        {% if incident_data["status"]|lower == "closed" or  not edit_flag %}
                            <div class="form-group col-md-6" {% if not edit_flag %} v-if="checked" {% endif %} >
                                <label>Resolution date and time <span style="color:red;">*</span></label>
                                <input type="text" class="form-control is-valid " name="closure_datetime"
                                    value="{{ incident_data['closure_datetime'] or '' }}"/>
                            </div>
                        {% endif %}
                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Cause</label>
                            <input type="text" placeholder="Enter the incident cause" class="form-control"
                                value="{{ incident_data['cause'] or '' }}" name="cause">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Teams working to resolve</label>
                            <input type="text" class="form-control" placeholder="Enter the teams working"
                                value="{{ incident_data['teams_working'] or '' }}" name="teams_working">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Affected customer(s)/business unit(s)</label>
                            <input type="text" class="form-control" placeholder="Enter the affected unit(s)"
                                value="{{ incident_data['affected_customers_units'] or '' }}" name="affected_customers_units">
                        </div>
                        <div class="form-group col-md-6">
                            <label>Incident manager</label>
                            <input type="text" class="form-control" value="{{ incident_data['manager'] or '' }}"
                                name="manager" placeholder="Enter the manager name">
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="modal fade custom-modal" id="exampleModal" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" style="display: none;" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Incident updates</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-12">
                                            {% for update in incident_updates|sort(attribute="number") %}
                                                <div class="alert alert-primary">
                                                    <strong> Update #{{ update['number'] }} </strong><br> {{ update['content'] }}
                                                </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-12">
                            <br>
                            An email will be sent to the following DLs:
                            <strong><span v-for="(dl, i) in dls">{[{ dl }]}{[{(i+1 < dls.length) ? ', ' : '' }]} </span></strong>
                        </div>

                        </label>
                        <div class="form-group col-md-12">
                            <label>Write any aditional email addresses separated by comma </label>
                            <input type="text" class="form-control" value="{{ incident_data['distributions_lists'] or '' }}"
                                name="distributions_lists" placeholder="example1@zappos.com, example2@zappos.com">
                        </div>

                        <span style="color:red;">* Required fields <br></span>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <label class="form-check-label">
                                {% if not edit_flag %}
                                    <input name="is_closed" class="form-check-input" type="checkbox" v-on:click="checked = !checked;"
                                        onchange="load_closure_time()"> Create INCI as tracking (closed)
                                {% endif %}
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input name="send_mail" class="form-check-input" type="checkbox"> Send email notification
                            </label>
                        </div>
                        <br>
                        {% if not edit_flag %}
                            <button type="submit" class="btn btn-primary float-right">Create</button>
                        {% else %}
                            <a role="button" href="#" class="btn btn-sm btn-outline-purple" data-toggle="modal" data-target="#exampleModal">
                                View updates on this INCI
                            </a>
                            <button type="submit" class="btn btn-primary float-right">Save</button>
                        {% endif %}
                    </div>
                    </form>
                    </form>
                </div>
            </div><!-- end card-->
        </div>
    </div>

    {% include 'admin/components/datetimepicker.html' %}
{% endblock %}

{% block scripts %}
    <script src="{{ static_url + 'admin/assets/plugins/datetimepicker/js/daterangepicker.js' }}"></script>
    <script src="{{ static_url + 'admin/assets/plugins/datetimepicker/js/moment.min.js' }}"></script>
    <script>
        var load_closure_time = function () {
            $('input[name="closure_datetime"]').daterangepicker({
                "singleDatePicker": true,
                "timePicker": true,
                "alwaysShowCalendars": true,
                "timePicker24Hour": true,
                "startDate": {% if 'closure_datetime' in incident_data %} "{{ (incident_data['closure_datetime']|string)[:-3] }}" {% else %} moment().startOf('minute') {% endif %},
                "locale": {
                    "format": 'YYYY/MM/DD HH:mm'
                },
            }, function (start) {
                console.log('New date range selected: ' + start.format('YYYY/MM/DD HH:mm'));
            });
        };

        var load_creation_time = function () {
            $('input[name="creation_datetime"]').daterangepicker({
                "singleDatePicker": true,
                "timePicker": true,
                "alwaysShowCalendars": true,
                "timePicker24Hour": true,
                "startDate": {% if 'creation_datetime' in incident_data %} "{{ (incident_data['creation_datetime']|string)[:-3] }}" {% else %} moment().startOf('minute') {% endif %},
                "locale": {
                    "format": 'YYYY/MM/DD HH:mm'
                },
            }, function (start) {
                console.log('New date range selected: ' + start.format('YYYY/MM/DD HH:mm'));
            });
        };

    </script>
    <script src="{{ static_url + 'admin/assets/plugins/select2/js/select2.min.js' }}"></script>
    <script>
        $(document).ready(function () {
            $('#selectsys').select2({placeholder: " Select the affected systems"});
            $('#selecttemplate').select2({placeholder: "Load data from template"});
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.options.delimiters = ['{[{', '}]}'];
        let app = new Vue({
            el: '#app-irt',
            data() {
                return {
                    message: null,
                    dls: [],
                    checked: false
                }
            },
            methods: {
                load_dls: function () {
                    let values = $('#selectsys').val();
                    this.dls = [];
                    if (values) {
                        for (let i = 0; i < values.length; i++) {
                            axios.get('{{ url_for('systems') }}/dls/' + values[i])
                                .then(response => {
                                    for (let j = 0; j < response.data.length; j++) {
                                        if (!this.dls.includes(response.data[j])) {
                                            this.dls.push(response.data[j])
                                        }
                                    }
                                }).catch(error => {
                                console.log(error)
                            });
                        }
                    }
                    console.log(this.dls)
                },
                load_template: function (template_id) {
                    console.log(template_id);
                    location = '{{ url_for('templates') }}/' + template_id + '/new_incident';
                }
            }
        })
    </script>
    <script>
        $(document).ready(function () {
            app.load_dls();
            load_creation_time();
            load_closure_time();
        });
    </script>
{% endblock %}