{% extends 'admin/layout.html' %}

{% block head %}
<link href="{{ static_url + 'admin/assets/plugins/datetimepicker/css/daterangepicker.css' }}" rel="stylesheet">
<link href="{{ static_url + 'admin/assets/plugins/select2/css/select2.min.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div id="app-irt">
    {[{ message }]}
    <div class="col-lg-12">
        {% if error %}
            <div class="alert alert-danger" role="alert">{{ error }}</div>
        {% endif %}
        <div class="card mb-3">
            <div class="card-header">
                {% if not edit_flag %}
                    <h3><i class="fab fa-jira"></i> New template</h3>
                    Please fill the following form in to create a new template.
                {% else %}
                    <h3><i class="fa fa-pen"></i> Editing template <strong class="float-right text-info">{{ template_data['code'] }}</strong></h3>
                    Please fill the following form in to edit the template.
                {% endif %}
            </div>
            <div class="card-body">
                {% if not edit_flag %}
                    <form action="{{ url_for('templates') }}" method="POST" novalidate>
                {% else %}
                    <form action="{{ url_for('template_id', id=template_data['id']) }}" method="POST" novalidate>
                {% endif %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Template name <font color="red">*</font></label>
                        <input type="text" class="form-control" value="{{ template_data['name'] or '' }}"
                               name="name" placeholder="Enter the template name" autocomplete="off">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-8">
                        <label>Incident subject <font color="red">*</font></label>
                        <input type="text" class="form-control" value="{{ template_data['subject'] or '' }}"
                               name="subject" placeholder="Enter the subject" autocomplete="off">
                    </div>

                    <div class="form-group col-md-4">
                        <label>Severity <font color="red">*</font></label>
                        <select name="severity" class="form-control">
                            <option>Select severity</option>
                            {% for severity in incidents_severities %}
                            <option value="{{ severity }}" {% if severity|string== template_data['severity']|string %}selected {% endif %}> SEV {{ severity }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Affected systems <font color="red">*</font></label>
                        <select placeholder="Select affected systems" onchange="app.loaddls()"
                            class="form-control select2" id="selectsys" name="systems[]" multiple="multiple">
                            {% for sys in systems %}
                            <option value="{{ sys['id'] }}" {% if sys in template_data['systems'] %}selected{% endif %}> {{ sys['name'] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Description <font color="red">*</font></label>
                        <textarea type="text" class="form-control" name="description"
                        placeholder="Enter the incident description">{{ template_data['description'] or '' }}</textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Cause</label>
                        <input type="text" placeholder="Enter the incident cause" class="form-control"
                            value="{{ template_data['cause'] or '' }}" name="cause">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Teams working to resolve</label>
                        <input type="text" class="form-control" placeholder="Enter the teams working"
                            value="{{ template_data['teams_working'] or '' }}" name="teams_working">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Affected customer(s)/business unit(s)</label>
                        <input type="text" class="form-control" placeholder="Enter the affected unit(s)"
                               value="{{ template_data['affected_customers_units'] or '' }}" name="affected_customers_units">
                    </div>
                    <div class="form-group col-md-6">
                        <label>Incident manager</label>
                        <input type="text" class="form-control" value="{{ template_data['manager'] or '' }}"
                               name="manager" placeholder="Enter the manager name">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-12">
                        <br>An email will be sent to the following DLs:
                        <strong><span v-for="(dl, i) in dls">{[{ dl }]}{[{(i+1 < dls.length) ? ', ' : '' }]} </span></strong>
                    </div>

                    </label>
                    <div class="form-group col-md-12">
                        <label>Write any aditional email addresses separated by comma </label>
                        <input type="text" class="form-control" value="{{ template_data['distributions_lists'] or '' }}"
                            name="distributions_lists" placeholder="example1@zappos.com, example2@zappos.com">
                    </div>

                    <font color="red">* Required fields <br></font>
                </div>

                <div class="form-group">
                    {% if not edit_flag %}
                        <button type="submit" class="btn btn-primary float-right">Create</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary float-right">Save</button>
                    {% endif %}
                </div>
                    </form>
                </form>
            </div>
        </div><!-- end card-->
    </div>
</div>

{% include 'admin/components/datetimepicker.html' %}
{% endblock %}

{% block scripts %}
<script src="{{ static_url + 'admin/assets/plugins/select2/js/select2.min.js' }}"></script>
<script>
        $(document).ready(function () {
            $('.select2').select2({placeholder: " Select the affected systems"});
        });
</script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        Vue.options.delimiters = ['{[{', '}]}'];
        let app = new Vue({
            el: '#app-irt',
            data() {
                return {
                    message: null,
                    dls: []
                }
            },
            methods: {
                loaddls: function () {
                    let values = $('#selectsys').val();
                    this.dls = [];
                    if (values) {
                        for (let i = 0; i < values.length; i++) {
                            axios.get('{{ url_for('systems') }}/dls/' + values[i])
                                .then(response => {
                                    for (let j = 0; j < response.data.length; j++) {
                                        if (!this.dls.includes(response.data[j])) {
                                            this.dls.push(response.data[j])
                                        }
                                    }
                                }).catch(error => {
                                console.log(error)
                            });
                        }
                    }
                    console.log(this.dls)
                }
            }
        })
</script>
<script>
        $(document).ready(function () {
            app.loaddls();
        });
</script>
{% endblock %}