{% extends 'admin/layout.html' %}

{% block head %}
<link href="{{ static_url + 'admin/assets/plugins/datetimepicker/css/daterangepicker.css' }}" rel="stylesheet">
<link href="{{ static_url + 'admin/assets/plugins/select2/css/select2.min.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-lg-12">
    {% if error %}
    <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <div class="card mb-3">
        <div class="card-header">
            {% if not edit_flag %}
                <h3><i class="fab fa-jira"></i> New distribution list</h3>
                Please fill the following form in to create a new distribution list.
            {% else %}
                <h3><i class="fa fa-pen"></i> Editing distribution list</h3>
                Please fill the following form in to edit a distribution list.
            {% endif %}
        </div>
        <div class="card-body">
            {% if not edit_flag %}
                <form action="{{ url_for('distribution_lists') }}" method="POST" novalidate>
            {% else %}
                <form action="{{ url_for('distribution_list_id', id=dl_data['id']) }}" method="POST" novalidate>
            {% endif %}

            <div class="form-row">
                <div class="form-group col-md-12">
                    <label>Distribution list address <font color="red">*</font></label>
                    <input type="text" class="form-control" value="{{ dl_data['email'] or '' }}"
                           name="email" placeholder="somedl@zappos.com" autocomplete="off">
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12    ">
                    <label>Description <font color="red">*</font></label>
                    <textarea type="text" class="form-control" name="description"
                        placeholder="Enter the distribution list description">{{ dl_data['description'] or '' }}</textarea>
                </div>
            </div>

            <font color="red">* Required fields <br></font>
            {% if not edit_flag %}
                <button type="submit" class="btn btn-primary float-right">Create</button>
            {% else %}
                <button type="submit" class="btn btn-primary float-right">Save</button>
            {% endif %}

            </form>
        </div>
    </div>
</div><!-- end card-->
{% endblock %}