{% extends 'admin/layout.html' %}

{% block head %}
<link href="{{ static_url + 'admin/assets/plugins/datetimepicker/css/daterangepicker.css' }}" rel="stylesheet">
<link href="{{ static_url + 'admin/assets/plugins/select2/css/select2.min.css' }}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="col-lg-12">
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error }}</div>
    {% endif %}
    <div class="card mb-3">
        <div class="card-header">
            {% if not edit_flag %}
                <h3><i class="fab fa-jira"></i> New system</h3>
                Please fill the following form in to create a new system.
            {% else %}
                <h3><i class="fa fa-pen"></i> Editing system</h3>
                Please fill the following form in to edit a system.
            {% endif %}
        </div>
        <div class="card-body">
            {% if not edit_flag %}
                <form action="{{ url_for('systems') }}" method="POST" novalidate>
            {% else %}
                <form action="{{ url_for('system_id', id=system_data['id']) }}" method="POST" novalidate>
            {% endif %}

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>System Name <font color="red">*</font></label>
                        <input type="text" class="form-control" value="{{ system_data['name'] or '' }}"
                        name="name" placeholder="Enter the system name" autocomplete="off">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label> Distribution lists <font color="red">*</font></label>
                        <select class="form-control select2" name="dls[]" multiple="multiple">
                        {% for dl in distribution_lists %}
                            <option value="{{ dl.id }}" {% if dl in system_data['dls']%} selected {%endif%}> {{ dl }} </option>
                        {% endfor %}
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label>Description <font color="red">*</font></label>
                        <textarea type="text" class="form-control" name="description"
                            placeholder="Enter the system description">{{ system_data['description'] or '' }}</textarea>
                    </div>
                </div>

                <font color="red">* Required fields <br></font>
                {% if not edit_flag %}
                    <button type="submit" class="btn btn-primary float-right">Create</button>
                {% else %}
                    <button type="submit" class="btn btn-primary float-right">Save</button>
                {% endif %}
                </form>
            </form>
        </div>
    </div>
</div><!-- end card-->
{% endblock %}

{% block scripts %}
<script src="{{ static_url + 'admin/assets/plugins/select2/js/select2.min.js' }}"></script>
<script>
        $(document).ready(function () {
            $('.select2').select2({placeholder: " Select the system DLs"});
        });
</script>
{% endblock %}