{% extends 'admin/layout.html' %}

{% block head %}
{% endblock %}

{% block content %}
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> IRT Systems </h3>
                        These are all IRT defined systems.
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-responsive-xl table-striped text-justify">
                            <thead>
                            <tr class="d-flex ">
                                <th class="col-1">#</th>
                                <th class="col-3">Name</th>
                                <th class="col-4">Description</th>
                                <th class="col-4"><center>Action</center></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sys in systems.items %}
                                <tr class="d-flex">
                                    <th class="col-1">{{ sys.id }}</th>
                                    <th class="col-3" style="color: #2982DB">{{ sys.name }}</a></th>
                                    <th class="col-4">{{ sys.description }}</th>
                                    <th class="col-4"><center>
                                        <div class="btn-group">
                                            <button class="btn btn-outline-primary float-right mr-2" data-target="#viewModal{{ sys.id }}"
                                                    data-toggle="modal" href="#custom-modal"><i class="fa fa-eye"></i></button>
                                            <a href="{{ url_for('system_id', id=sys.id) }}">
                                                <button class="btn btn-outline-primary float-right mr-2"><i class="fa fa-pen"></i></button>
                                            </a>
                                            <button class="btn btn-outline-danger float-right mr-2" data-target="#deleteModal{{ sys.id }}"
                                                    data-toggle="modal" href="#custom-modal"><i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                    </center></th>
                                </tr>
                                <!-- View Modal -->
                                <div aria-hidden="true" aria-labelledby="viewModal" class="modal fade custom-modal"
                                     id="viewModal{{ sys.id }}" role="dialog" tabindex="-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel3">{{ sys.name }}</h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col-12"><strong>Distribution lists</strong>:<br>
                                                        {{ sys.dls|map(attribute='email')|join(', ') }}
                                                    </div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-12"><strong>Description</strong>:<br>{{ sys.description }}</div>
                                                </div>
                                                <br>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Delete Modal -->
                                <div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade custom-modal"
                                     id="deleteModal{{ sys.id }}" role="dialog" tabindex="-1">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel2">Deleting System <strong>{{ sys.name }}</strong></h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form action="/" method="GET" novalidate>
                                                <div class="modal-body">
                                                    Are you sure you want to delete the system <strong> {{ sys.name }}</strong>?
                                                </div>

                                                <div class="modal-footer">
                                                    <button class="btn btn-danger" data-dismiss="modal" type="button">
                                                        Cancel
                                                    </button>
                                                    <a><button class="btn btn-success" type="submit"
                                                        v-on:click="delete_sys('{{ sys.id }}');"><i class="fa fa-trash"></i>
                                                    </button></a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end card-->
            </div>
        </div>
    </div>
</div>

        <div style="position: absolute; bottom: 0; right: 10px; float: right ">
            <nav aria-label="..." class="float-right">
                <ul class="pagination">
                    <!-- previous page -->
                    {% if systems.has_prev %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('systems', page=systems.prev_num) }}">Previous</a>
                        </li>
                    {% endif %}

                    <!-- all page numbers -->
                    {% for page_num in systems.iter_pages() %}
                        {% if page_num %}
                            {% if page_num != systems.page %}
                                <li class="page-item">
                                    <a class="page-link" href="{{ url_for('systems', page=page_num) }}">{{ page_num }}</a>
                                </li>
                            {% else %}
                                <li class="page-item">
                                    <a class="page-link bg-primary text-white" href="#"><span class="white">{{ page_num }}</span></a>
                                </li>
                            {% endif %}
                        {% else %}
                            <li class="page-item">
                                <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
                            </li>
                        {% endif %}
                    {% endfor %}

                    <!-- next page -->
                    {% if systems.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="{{ url_for('systems', page=systems.next_num) }}">Next</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </div>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        Vue.options.delimiters = ['{[{', '}]}'];
        const waiter = "<span><i class=\"fa fa-clock\"></i> Waiting...</span>";

        var app = new Vue({
            el: '#app',
            methods: {
                delete_sys(sys_id) {
                    axios.delete("{{ url_for('systems') }}/" + sys_id, {}).then(response => {
                        location = "{{ url_for('systems') }}";
                    });
                }
            }
        });
    </script>
{% endblock %}