{% extends 'admin/layout.html' %}

{% block head %}

{% endblock %}

{% block content %}
<div id="app">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card mb-3">
                    <div class="card-header">
                        <h3><i class="fa fa-table"></i> IRT Templates </h3>
                        These are all IRT defined templates.
                    </div>
                    <div class="card-body">
                        <table class="table table-sm table-responsive-xl table-striped text-justify">
                            <thead>
                            <tr class="d-flex ">
                                <th class="col-1">#</th>
                                <th class="col-3">Name</th>
                                <th class="col-4">Subject</th>
                                <th class="col-4"><center>Action</center></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for t in templates.items %}
                            <tr class="d-flex">
                                <th class="col-1">{{ t.id }}</th>
                                <th class="col-3" style="color: #2982DB">{{ t.name }}</a></th>
                                <th class="col-4">{{ t.subject }}</th>
                                <th class="col-4"><center>
                                        <div class="btn-group">
                                            {#
                                            <button class="btn btn-danger float-right mr-2" href="#"><i
                                                    class="fa fa-trash"></i></button>
                                            #}
                                            <button class="btn btn-outline-primary float-right mr-2" data-target="#viewModal{{ t.id }}"
                                                    data-toggle="modal" href="#custom-modal"><i class="fa fa-eye"></i>
                                            </button>
                                            <a href="{{ url_for('template_id', id=t.id) }}">
                                                <button class="btn btn-outline-primary float-right mr-2"><i
                                                        class="fa fa-pen"></i></button>
                                            </a>
                                            <button class="btn btn-outline-danger float-right mr-2"
                                                    data-target="#deleteModal{{ t.id }}"
                                                    data-toggle="modal" href="#custom-modal">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </div>
                                </center></th>
                            </tr>
                            <!-- View Modal -->
                            <div aria-hidden="true" aria-labelledby="viewModal" class="modal fade custom-modal"
                                 id="viewModal{{ t.id }}"
                                 role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel3"> {{ t.name }} </h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-6"><strong>Subject</strong>:<br>{{ t.subject }}</div>
                                                    <div class="col-6"><strong>Severity</strong>:<br>Sev {{ t.severity }}</div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-12"><strong>Systems</strong>:<br>
                                                        {{ t.systems|map(attribute='name')|join(', ') }}
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-12"><strong>Description</strong>:<br>{{ t.description }}</div>
                                                </div>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-6"><strong>Cause</strong>:<br>{{ t.cause}}</div>
                                                    <div class="col-6"><strong>Teams working to resolve</strong>:<br>{{ t.teams_working }}</div>
                                                </div>
                                                <br>
                                                <div class="row">
                                                    <div class="col-6"><strong>Affected unit(s)</strong>:<br>{{ t.affected_customers_units }}</div>
                                                    <div class="col-6"><strong>Incident manager</strong>:<br>{{ t.manager }}</div>
                                                </div>
                                                <br>
                                                <hr>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <strong>Emails to notify</strong>:<br>
                                                        {{ t.get_all_emails()|join(', ') }}
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Delete Modal -->
                            <div aria-hidden="true" aria-labelledby="deleteModal" class="modal fade custom-modal"
                                 id="deleteModal{{ t.id }}" role="dialog" tabindex="-1">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel2">Deleting Template <strong>{{ t.name }}</strong></h5>
                                            <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form action="/" method="GET" novalidate>
                                            <div class="modal-body">
                                                Are you sure you want to delete the template <strong>{{ t.name }}</strong>?
                                            </div>

                                            <div class="modal-footer">
                                                <button class="btn btn-danger" data-dismiss="modal" type="button">
                                                    Cancel
                                                </button>
                                                <a><button class="btn btn-success" type="submit"
                                                    v-on:click="delete_template('{{ t.id }}');"><i class="fa fa-trash"></i>
                                                </button></a>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>

                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!-- end card-->
            </div>
        </div>
    </div>

    <div style="position: absolute; bottom: 0; right: 10px; float: right ">

        <nav aria-label="..." class="float-right">
            <ul class="pagination">
                <!-- previous page -->
                {% if templates.has_prev %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('templates', page=templates.prev_num) }}">Previous</a>
                </li>
                {% endif %}

                <!-- all page numbers -->
                {% for page_num in templates.iter_pages() %}
                {% if page_num %}
                {% if page_num != templates.page %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('templates', page=page_num) }}">{{ page_num }}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link bg-primary text-white" href="#"><span class="white">{{ page_num }}</span></a>
                </li>
                {% endif %}
                {% else %}
                <li class="page-item">
                    <span class="ellipsis" style="white-space; nowrap; overflow: hidden; text-overflow: ellipsis">…</span>
                </li>
                {% endif %}
                {% endfor %}

                <!-- next page -->
                {% if templates.has_next %}
                <li class="page-item">
                    <a class="page-link" href="{{ url_for('templates', page=templates.next_num) }}">Next</a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
        Vue.options.delimiters = ['{[{', '}]}'];
        const waiter = "<span><i class=\"fa fa-clock\"></i> Waiting...</span>";

        var app = new Vue({
            el: '#app',
            methods: {
                delete_template(t_id) {
                    axios.delete("{{ url_for('templates') }}/" + t_id, {}).then(response => {
                        location = "{{ url_for('templates') }}";
                    });
                }
            }
        });

</script>
{% endblock %}