<div class="headerbar">
    <!-- LOGO -->
    <div class="headerbar-left">
        <a href="/" class="logo">
            <img alt="Logo" src="{{ static_url + 'admin/assets/images/zapposlogo.png' }}" />
            <span>IRT</span></a>
    </div>

    <nav class="navbar-custom">
        <ul class="list-inline float-right mb-0">
            <li class="list-inline-item dropdown notif">
                <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                    <img src="{{ static_url + 'admin/assets/images/avatars/admin.png' }}" alt="Profile image" class="avatar-rounded">
                </a>
                <div class="dropdown-menu dropdown-menu-right profile-dropdown ">
                    <div class="dropdown-item noti-title">
                        <h5 class="text-overflow"><small>{{ session['irt_reporter'] or 'Hacker' }}</small> </h5>
                    </div>

                    <a href="{{ url_for('logout') }}" class="dropdown-item notify-item">
                        <i class="fas fa-code"></i><span>Log out</span>
                    </a>
                </div>
            </li>
        </ul>

        <ul class="list-inline menu-left mb-0">
            <li class="float-left">
                <button class="button-menu-mobile open-left">
                    <i class="fa fa-fw fa-bars"></i>
                </button>
            </li>
        </ul>

    </nav>

</div>