    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>IRT | {{ title }}</title>
    <meta name="author" content="Zappos Incident Reporting Tool">

    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ static_url + 'admin/assets/images/favicon.ico' }}">
    <!-- Bootstrap CSS -->
    <link href="{{ static_url + 'admin/assets/css/bootstrap.min.css' }}" rel="stylesheet" type="text/css"/>
    <!-- Font Awesome CSS -->
    <script defer src="https://use.fontawesome.com/releases/v5.6.3/js/all.js" integrity="sha384-EIHISlAOj4zgYieurP0SdoiBYfGJKkgWedPHH4jCzpCXLmzVsw1ouK59MuUtP4a1" crossorigin="anonymous"></script>
    <!-- Custom CSS -->
    <link href="{{ static_url + 'admin/assets/css/style.css' }}" rel="stylesheet" type="text/css"/>
    <link href="{{ static_url + 'admin/assets/plugins/toastr/toastr.min.css' }}" rel="stylesheet" type="text/css"/>