<div class="left main-sidebar">
    <div class="sidebar-inner leftscroll">
        <div id="sidebar-menu">
            <ul>
                <li class="submenu">
                    <a href="#" class="{% if incidents_active %}active{% endif %}"><i class="fas fa-fire-alt"></i>
                        <span> Incidents </span><span class="fa fa-sort-down float-right"></span></a>
                    <ul class="list-unstyled">
                        <li><a href='{{ url_for("new_incident") }}'> <i class="fa fa-plus"></i> New Incident</a></li>
                        <li><a href='{{ url_for("incidents") }}' target="_self"><i class="fas fa-fw fa-list-alt"></i>All Incidents</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if templates_active %}active{% endif %}"><i class="fas fa-file-invoice"></i>
                        <span> Templates </span> <span class="fa fa-sort-down float-right"></span></a>
                    <ul class="list-unstyled">
                        <li><a href='{{ url_for("new_template") }}'> <i class="fa fa-plus"></i> New template</a></li>
                        <li><a href='{{ url_for("templates") }}' target="_self"><i class="fas fa-fw fa-list-alt"></i> All templates</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if systems_active %}active{% endif %}"><i class="fa fa-fw fa-desktop"></i>
                        <span> Systems </span><span class="fa fa-sort-down float-right"></span></a>
                    <ul class="list-unstyled">
                        <li><a href='{{ url_for("new_system") }}'><i class="fa fa-plus"></i> New System</a></li>
                        <li><a href='{{ url_for("systems") }}' target="_self"> <i class="fas fa-fw fa-list-alt"></i> All Systems</a></li>
                    </ul>
                </li>

                <li class="submenu">
                    <a href="#" class="{% if dls_active %}active{% endif %}"><i class="fa fa-fw fa-at"></i>
                        <span> Distribution Lists </span><span class="fa fa-sort-down float-right"></span></a>
                    <ul class="list-unstyled">
                        <li><a href='{{ url_for("new_distribution_list") }}'><i class="fa fa-plus"></i> New DL</a></li>
                        <li><a href='{{ url_for("distribution_lists") }}' target="_self"> <i class="fas fa-fw fa-list-alt"></i> All DLs</a></li>
                    </ul>
                </li>
            </ul>
        <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>