<script src="{{ static_url + 'admin/assets/js/modernizr.min.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/jquery.min.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/moment.min.js' }}"></script>

<script src="{{ static_url + 'admin/assets/js/popper.min.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/bootstrap.min.js' }}"></script>

<script src="{{ static_url + 'admin/assets/js/detect.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/fastclick.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/jquery.blockUI.js' }}"></script>
<script src="{{ static_url + 'admin/assets/js/jquery.nicescroll.js' }}"></script>
<script src="{{ static_url + 'admin/assets/plugins/switchery/switchery.min.js' }}"></script>

<!-- App js -->
<script src="{{ static_url + 'admin/assets/js/pikeadmin.js' }}"></script>
{# Toast Messeges for every single view are loaded dinamically over here.#}
<script src="{{ static_url + 'admin/assets/plugins/toastr/toastr.min.js' }}"></script>
<script>
    toastr.options = {
        "closeButton": false,
        "debug": false,
        "newestOnTop": false,
        "progressBar": true,
        "positionClass": "toast-top-right",
        "preventDuplicates": false,
        "onclick": null,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    }
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                toastr["{{ category }}"]("{{ message[1] }}","{{ message[0] }}");
            {% endfor %}
        {% endif %}
    {% endwith %}
</script>