<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IRT | Login</title>
    <link href="{{ static_url + 'admin/assets/css/login.css' }}" rel="stylesheet" type="text/css"/>
</head>
<body>
<div class="wrapper">
    <form class="login" method="post">
        <p class="title">IRT | Log in</p>
        <input type="text" name="username" placeholder="Username" autofocus/>
        <i class="fa fa-user"></i>
        <input type="password" name="password" placeholder="Password"/>
        <i class="fa fa-key"></i>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <cite style="color:indianred; font-size: small;">{{ message[1] }}</cite>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        <button>
            <i class="spinner"></i>
            <span class="state">Log in</span>
        </button>
    </form>
    <footer><a target="blank" href="http://zappos.com/">Zappos Site</a></footer>
    </p>
</div>
<script>

</script>
</body>
</html>